---
import { Image } from "astro:assets";
import certifications from "~src/assets/images/compliance/certifications.jpg";
import documentSigning from "~src/assets/images/compliance/document-signing.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import H from "~src/components/HeadingLink.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import CallToAction from "~src/components/CallToAction.astro";
import TextCard from "~src/components/TextCard.astro";
---

<Layout
  title="Compliance | Cellbytes"
  description="Commitment to Security and Quality"
>
  <Section variant="pair">
    <Image
      src={certifications}
      alt="A paper containing various ISO-standard registration marks."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard gradient>
      <h1>Commitment to Security and Quality</h1>
      <p>
        Only by adhering to medical device requirements can we guarantee
        reliable performance and medical safety regulatory standards. Our
        CE-marked Cellbytes software complies with globally recognized quality
        certifications and the IVDR.
      </p>
      <p>
        The Cellbytes team and platform adhere to data privacy regulations such
        as HIPAA and GDPR. We ensure uncompromised data security through
        advanced encryption and privacy measures.
      </p>
    </SectionCard>
  </Section>

  <Section variant="blank">
    <H level="2">Certifications</H>
    <div class="certifications">
      <TextCard
        image={documentSigning}
        alt="A document being signed with a fancy pen"
        accent="2"
      >
        <H level="3">
          ISO 13485:2016 &ndash; Medical Devices Quality Management
        </H>
        <p>
          Outlines the requirements for a quality management system that ensures
          an organization can consistently deliver medical devices and related
          services that meet both customer expectations and regulatory
          standards. Organizations adhering to this standard may be involved in
          various stages of the device life cycle, including design and
          development, production, storage and distribution, installation,
          servicing, or providing associated activities such as technical
          support.
        </p>
      </TextCard>
    </div>
  </Section>

  <CallToAction title="Want to Learn More?" />
</Layout>

<style>
  .certifications {
    display: flex;
    flex-direction: column;
    gap: var(--element-padding);
  }
</style>
