---
import { Image } from "astro:assets";
import doctorLaptop from "~src/assets/images/contact/doctor-laptop.jpg";

import { WIDTHS } from "~src/consts";
import Section from "~src/components/Section.astro";
import Layout from "~src/layouts/Layout.astro";
import SectionCard from "~src/components/SectionCard.astro";
import Input from "~src/components/Input.astro";
import Textarea from "~src/components/Textarea.astro";

const url = Astro.url;
---

<Layout title="Contact | Hematoscope" description="Contact us">
  <Section variant="pair">
    <Image
      src={doctorLaptop}
      alt="A doctor typing on her laptop with a stethoscope hanging around her neck."
      widths={WIDTHS}
      height="300"
    />
    <SectionCard gradient>
      <h1>Contact us</h1>
      <p>
        Do you have questions about our company or Hematoscope&apos;s image
        analysis solutions? Fill out the form, and one of our experts will reach
        out to you shortly.
      </p>
      <form action="https://api.staticforms.xyz/submit" method="post">
        <input
          type="hidden"
          name="accessKey"
          value="da6aad0a-f620-4a72-8e1b-13dada412f45"
        />
        <input type="hidden" name="redirectTo" value={`${url}?success`} />
        <Input label="Name" name="name" required />
        <Input
          label="Email"
          name="email"
          type="email"
          inputmode="email"
          required
        />
        <Input label="Title" name="title" />
        <Input label="Institution" name="institution" />
        <Textarea label="Message" name="message" required />
        <button>Submit</button>
      </form>
    </SectionCard>
  </Section>
</Layout>

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  const params = Object.fromEntries(urlSearchParams.entries());
  if ("success" in params) {
    document.querySelector("title")!.innerHTML =
      "Thank you for contacting us! | Hematoscope";
    const element = document.createElement("p");
    element.innerHTML =
      "Thank you for contacting us! We will reach back to you shortly.";
    element.classList.add("note");
    document.querySelector("div:has(h1)")!.appendChild(element);
  }
</script>

<style>
  :global(html) {
    height: 100%;
  }
  :global(body) {
    height: 100%;
    grid-template-rows: auto 1fr auto;
  }
  :global(main) {
    margin-bottom: auto;
  }

  form {
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.75 * var(--element-padding));
    justify-items: flex-start;
  }
  :global(div:has(> input)) {
    flex: 1 0 40%;
  }
  :global(div:has(> textarea)) {
    min-width: 100%;
  }

  /* Highlight variant styles */
  button {
    font-weight: 600;
    font-size: var(--text-size-label);
    cursor: pointer;

    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 0.5em;

    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--background);
    background-color: var(--highlight);

    transition: box-shadow 0.5s;
    --shadow-height: 18px;
    --shadow-distance: 4px;
    box-shadow: 0px var(--shadow-distance) var(--shadow-height)
      rgb(from var(--highlight) r g b / 0.5);
  }
  button:hover {
    --shadow-height: 32px;
    --shadow-distance: 8px;
  }
  button:active {
    transition: box-shadow 0.1s;
    --shadow-height: 12px;
    --shadow-distance: 2px;
  }

  :global(.note) {
    font-weight: 600;
    padding: var(--element-padding);
    border-radius: var(--small-border-radius);
    background-color: var(--background);
    border-left: 8px solid var(--highlight);
  }
</style>
