---
import Section from "~src/components/Section.astro";
import Layout from "~src/layouts/Layout.astro";
---

<Layout
  title="Documentation | Hematoscope"
  description="Hematoscope App documentation"
>
  <Section variant="blank">
    <h1>Work in progress</h1>
  </Section>
</Layout>

<style>
  body {
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
</style>
