---
import Section from "~src/components/Section.astro";
import LinkButton from "~src/components/LinkButton.astro";
import H from "./HeadingLink.astro";

interface Props {
  title: string;
  demo?: boolean;
}
const { title, demo } = Astro.props;
---

<Section variant="blank" class="call-to-action">
  <div class="text">
    <H level="2">{title}</H>
    <p>Contact us to explore how Cellbytes can enhance your daily workflow.</p>
  </div>
  <div class="buttons">
    {
      demo && (
        <LinkButton href="https://demo.cellbytes.app" variant="highlight">
          Try the demo
        </LinkButton>
      )
    }
    <LinkButton href="/contact" variant={demo ? "default" : "highlight"}>
      Contact us
    </LinkButton>
  </div>
</Section>

<style>
  p {
    font-size: var(--text-size-ingress);
  }
  .call-to-action {
    gap: var(--element-padding);
  }
  .buttons {
    display: flex;
    gap: var(--element-padding);
    flex-wrap: wrap;
    justify-content: center;
  }
</style>
