---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}
const { ...props } = Astro.props;
---

<a class:list={[props.class, "link-button"]} {...props}>
    <slot />
</a>

<style>
    .link-button {
        color: var(--background);
        font-weight: 600;
        font-size: var(--text-size-label);

        padding: 0.75rem 1.5rem;
        border-radius: var(--button-border-radius);
        background-color: var(--highlight);

        transition: box-shadow 0.5s;
        --shadow-height: 18px;
        --shadow-distance: 4px;
        box-shadow: 0px var(--shadow-distance) var(--shadow-height)
            rgb(from var(--highlight) r g b / 0.5);
    }
    .link-button:hover {
        --shadow-height: 32px;
        --shadow-distance: 8px;
    }
    .link-button:active {
        transition: box-shadow 0.1s;
        --shadow-height: 12px;
        --shadow-distance: 2px;
    }
</style>
